.download-button {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #f9a825;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.download-button:hover {
  background-color: #f57c00;
}